@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Windows95;
  src: url("/fonts/w95fa.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Windows95 !important;
  font-size: large;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.grid {
  margin: 20px 0px;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.mines-count {
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  align-self: center;
  text-align: center;
  justify-content: center;
  background-color: #cec075;
}

.row {
  display: flex;
  justify-content: center;
}

.row:not(last-child) {
  margin-bottom: 5px;
}

.cell {
  display: flex;
  background-color: rgb(136, 80, 83);
  min-width: 42px;
  min-height: 43px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.2s;
}

.cell:not(first-child) {
  margin-left: 5px;
}

.cell:focus {
  outline: none;
}

.cell.hidden {
  background-color: rgba(91, 66, 69, 0);
}
.cell.hidden:hover {
  background-color: rgb(177, 177, 177);
}

/* Flagged incorrectly*/
.cell.is-flag:not(.is-mine):not(.hidden) {
  background-color: rgb(134, 134, 134);
}

/* Flagged correctly */
.cell.is-flag.is-mine:not(.hidden) {
  background-color: #4f8755;
}

/* Clicked on a mine*/
.cell.is-mine.is-clicked {
  background-color: rgb(46, 102, 255);
}

/* Empty revealed cells*/
.cell.is-empty:not(.hidden):not(.is-mine):not(.is-flagged) {
  background-color: rgb(167, 167, 167);
}

.game {
  overflow: hidden;
  margin: 0 auto;
}
